@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/mona';
@import '@skeletonlabs/skeleton/themes/vox';


@custom-variant dark (&:where(.dark, .dark *));

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

:root {
  --base-font-family: 'Consolas', 'Menlo', 'Monaco', 'monospace';
  --heading-font-family: 'Consolas', 'Menlo', 'Monaco', 'monospace';
  --anchor-font-family: 'Consolas', 'Menlo', 'Monaco', 'monospace';
}

